{% extends 'base.html' %}

{% block content %}
<div class="interfaces">
    <h1>Real-time System Interfaces</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>IP</th>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="interfaces-table">
            {% for interface in interfaces %}
            <tr>
                <td>{{ interface.id }}</td>
                <td>{{ interface.ip }}</td>
                <td>{{ interface.name }}</td>
                <td>{{ interface.type.name }}</td>
                <td>{{ interface.description }}</td>
                <td>{{ interface.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/interfaces_socket.js') }}"> </script>
{% endblock  %}